* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wraper {
    overflow-x: hidden;
    position: relative;
}

html {
    scroll-behavior: smooth;
}


/******** Nav bar ********/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav_links li {
    list-style: none;
}

.nav_links a {
  color: rgb(238, 238, 238);;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 1000;
  font-size: 20px;

}

.nav_links a:hover {
    color: turquoise;
}


.burger {
    display: none;
}
 
.burger div {
    height: 4px;
    width: 25px;
    background-color: rgb(238, 238, 238);
    margin: 4px;
    transition: all 0.3s ease;
} 

/********* landing page ************/

.landingPage {
    background-image: url(images/background_pic.jpg);
    background-size: cover;
    background-size: 175%;
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 40%;
    margin: 0;
    height: 800px;
}

/************* About Me***************/

.aboutMe {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 800px;
}

.aboutMe h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 184, 187);
    padding-top: 18%;
}

.paragraph {
    padding: 60px;
    padding-left: 20%;
    padding-right: 20%;
    
}

.paragraph p {
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}

/*********** My Work ***********/

.myWork {
    width: 100%;
    height: auto;
    background-color: rgb(66, 66, 66);
}

.myWork h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(233, 233, 233);
    padding-top: 75px;
    padding-bottom: 50px;
}

.workImg {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.workImg p {
    text-align: center;
}

.workImg img {
    max-width: 400px;
    margin: 30px;
}

.drawing2 {
    height: 400px;
    width: auto;
}

/********** Contact ***********/

.contact {
    height: 400px;

}

.contact h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 184, 187);
    padding-top: 75px;
    padding-bottom: 50px;
}

ion-icon {
    font-size: 50px;
    color: black;
}

ion-icon:hover {
    color:rgb(0, 184, 187) ;
}

.contact p {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}




/* Mobile Responsive */

@media screen and (max-width:768px) {
    
    .landingPage {
        height: 400px;
        background-size: cover;
    }
    
    .logo img {
        height: 60px;
        width: 60px;
    }   
    
    .nav_links {
        position: absolute;
        right: 0px;
        height: 5%;
        top: 12vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 48%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav_links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .workImg img {
        max-width: 380px;
    }

    .drawing2 {
        height: auto;
    }

    .buttons {
        width: 30%;
    }

}

@media screen and (max-width:400px) {

    

    .nav_links {
        height: 5%;
    }

}

.nav_active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}
