/****************************** 
*** GENARAL
*******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    /* background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4), url(back.jpg)); */
    background-image: linear-gradient(to left, #00ff08, #00ffc3);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif; /* changed Lato */
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    border-radius: 50px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

/******************************* 
***** RULES
********************************/

.rules {
    width: 1000px;
    background-color: white;
    z-index: 99999;
    /* position: relative;
    padding: 100px;
    margin: auto;
    top: 10vh; */
    position: absolute;
    padding: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    padding-bottom: 150px;
}

.rules h1 {
    text-align: center;
    padding-bottom: 20px;
}

.rules h2 {
    padding-bottom: 20px;
}

.start-game {
top: 500px;
background-color: #00ca00;
color: white;
height: 50px;
border-radius: 10px;
}

.start-game:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px 0px 10px;
}

.rules ul {
    margin-left: 15px;
}

.rules a {
    color: rgb(0, 168, 174);
}

/***************************** 
*** PLAYERS
*******************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200; /* changed 100*/
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 200; /* changed 100*/
    color: #00ca00;
    margin-bottom: 130px;
}

.active { background-color: #f3f3f3; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: '\2022';
    font-size: 40px;
    position: relative;
    color: #00ca00;
    top: -2px;
    right: -20px;
}

.player-current-box {
    border-radius: 10px;
    background-color: #00ca00;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: #fff; /* color #222 */
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif; /* changed Lato*/
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 300; }
button:hover i {margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #00ca00;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -2px;
    transition: margin 0.3s;
}


.btn-new { top: 45px; }
.btn-roll { top: 403px; }
.btn-hold { 
    top: 467px; 
    margin-top: -4px; 
}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #00ca00;} 

.player1 .player-current-box{
    background-color: rgb(255, 134, 4);
}

.player1 .player-score{
    color: rgb(255, 134, 4);;
}

.player2 .player-current-box {
    background-color: rgb(0, 184, 191);
}

.player2 .player-score {
    color: rgb(0, 184, 191);
}

















